####
## Output descriptions:
##

# mysql
# https://github.com/tagomoris/fluent-plugin-mysql
<match sindan.log>
  type mysql
  host localhost
  # port 3306 # default
  database sindan_production
  username sindan
  password
  # TODO: set db information

  table diagnosis_logs
  # 'columns' names order must be same with 'key_names'
  key_names case_name, node_name, ssid
  columns case_name, node_name, ssid

  flush_interval 5s
</match>

# debug
<match sindan.*>
  type file
  path /var/log/td-agent/debug.sindan.out
</match>

####
## Source descriptions:
##

# HTTP input: sindan log
# http://localhost:8888/<tag>?json=<json>
# $ curl -X POST -d 'json={ "code": "123", "message": "hogehoge" }' http://localhost:8888/sindan.log
<source>
  type http
  port 8888
  bind 0.0.0.0
  body_size_limit 32m
  keepalive_timeout 10s
#  tag sindan.log
</source>

## built-in TCP input
## @see http://docs.fluentd.org/articles/in_forward
<source>
  type forward
</source>
