# Usage .env
#   SAMPLE_VAR=XXXXXX
#

# DB
SINDAN_DATABASE_USERNAME_DEV=root
SINDAN_DATABASE_PASSWORD_DEV=
SINDAN_DATABASE_USERNAME=sindan
SINDAN_DATABASE_PASSWORD=
#SINDAN_DATABASE_HOSTNAME=

#MYSQL_SOCKET=/var/lib/mysql/mysql.sock
#REDIS_URL=

## for production env
# Secret
#SECRET_KEY_BASE=

# environments
RAILS_LOG_LEVEL=debug
